NODE_ENV=production
DOCKER=true
TZ=Europe/Berlin
NEXT_PUBLIC_CLOCK_UPDATE_INTERVAL=30000
AUTH_PASSWORD=change-me
HOST_CRONTAB_USER=root
SSO_MODE=oidc
APP_URL=https://cronmaster.mueller-nas.de
OIDC_ISSUER=https://authelia.mueller-nas.de
OIDC_CLIENT_ID=cronmaster
OIDC_CLIENT_SECRET=change-me
OIDC_LOGOUT_URL=https://authelia.mueller-nas.de/logout
OIDC_AUTO_REDIRECT=false
HTTPS=true
