INFLUXDB_DATA_ENGINE=tsm1
INFLUXDB_REPORTING_DISABLED=false
INFLUXDB_GRAPHITE_0_ENABLED=true
INFLUXDB_GRAPHITE_0_DATABASE=graphite
INFLUXDB_GRAPHITE_0_BIND_ADDRESS=:2003
INFLUXDB_GRAPHITE_PROTOCOL=tcp
INFLUXDB_GRAPHITE_BATCH_SIZE=1000
GF_INSTALL_PLUGINS=grafana-clock-panel,briann-gauge-panel,natel-plotly-panel,grafana-simple-json-datasource
GF_USERS_AUTO_ASSIGN_ORG_ID=1
GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
GF_SECURITY_ALLOW_EMBEDDING=true
GF_SERVER_ROOT_URL=https://grafana.mueller-nas.de
GF_AUTH_SIGNOUT_REDIRECT_URL=https://auth.mueller-nas.de/application/o/grafana/end-session/
GF_AUTH_OAUTH_AUTO_LOGIN=true
GF_AUTH_GENERIC_OAUTH_ENABLED=true
GF_AUTH_GENERIC_OAUTH_NAME=authentik
GF_AUTH_GENERIC_OAUTH_CLIENT_ID=<your-oauth-client-id>
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET=<your-oauth-client-secret>
GF_AUTH_GENERIC_OAUTH_SCOPES=openid email profile
GF_AUTH_GENERIC_OAUTH_AUTH_URL=https://auth.mueller-nas.de/application/o/authorize/
GF_AUTH_GENERIC_OAUTH_TOKEN_URL=https://auth.mueller-nas.de/application/o/token/
GF_AUTH_GENERIC_OAUTH_API_URL=https://auth.mueller-nas.de/application/o/userinfo/
GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP=true
