NEXTAUTH_SECRET=
NEXTAUTH_URL=
POSTGRES_PASSWORD=
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=
SERVER_COUNTRIES=
ENCRYPTION_PASSWORD=
MEILI_MASTER_KEY=
NEXT_PUBLIC_AUTHENTIK_ENABLED=true
AUTHENTIK_CUSTOM_NAME=authentik
AUTHENTIK_ISSUER=https://auth.mueller-nas.de/application/o/linkwarden
AUTHENTIK_CLIENT_ID=
AUTHENTIK_CLIENT_SECRET=